@model IEnumerable<Sistema_Facturacion.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
<div class="table-responsive">
    <p>
        <a asp-action="Create">Crear Usuario</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id_usuario">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.id_usuario">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>