@model IEnumerable<Sistema_Facturacion.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clientes</h1>
<div class="table-responsive">
    <p>
        <a asp-action="Create">Agregar Cliente</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo_Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefonos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo_Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefonos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activo)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Codigo_Cliente">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Codigo_Cliente">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>